<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <title>WPD</title>
</head>

<style>
    body {
        background-color: #5fb7ca;
        font-family: 'Open Sans', sans-serif;
    }

    .header {
        color: #ffffff;
        text-align: center;
    }

    .detect {
        text-align: center;
        width: 75%;
        margin: 10px auto;

        display: grid;
        grid-template-rows: repeat(1, 40px);
    }

    .btn {
        background-color: #41658A;
        color: #ffffff;
        border: none;
        border-radius: 0;
        outline: none;
        font-size: x-large;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: .4s;
    }

    .btn:hover {
        background-color: #37516B;

    }

    .container {
        /* background-color: #8b9dc3; */
        width: 75%;
        margin: 20px auto;

        display: grid;
        grid-template-rows: repeat(4, 160px);
        grid-template-columns: repeat(4, 1fr);

        grid-gap: 13px;
    }

    .item {
        padding: 10px;
        background-color: #ffffff;
        transition: 0.5s;
    }

    .item:hover {
        background-color: rgb(224, 238, 253);
    }

    p {
        text-align: center;
        font-weight: 600;
    }

    .radio-center {
        margin-left: 40%;
    }

    .footer {
        color: #ffffff;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
    }
</style>


<body>
    <form action="{{ url_for('result') }}" method="POST">
        <h1 class="header">Detect Phishing Website</h1>
        <div class="container">
            <div class="item item--1">
                <p>Does The URL have IP Address?</p>
                <div class="radio-center">
                    <input type="radio" name="ip" value="1">Yes<br>
                    <input type="radio" name="ip" value="-1" checked>No<br>
                </div>
            </div>
            <div class="item item--2">
                <p>URL Length</p>
                <div class="radio">
                    <input type="radio" name="ul" value="1" checked>&lt 54 Character<br>
                    <input type="radio" name="ul" value="0">&gt 54 and &lt 75 Character<br>
                    <input type="radio" name="ul" value="-1">&gt 75 Character<br>
                </div>
            </div>
            <div class="item item--3">
                <p>Does the URL have '@' symbol?</p>
                <div class="radio-center">
                    <input type="radio" name="at" value="-1">Yes<br>
                    <input type="radio" name="at" value="1" checked>No<br>
                </div>
            </div>
            <div class="item item--4">
                <p>Does The URL have Prefix Suffix '-' Symbol?</p>
                <div class="radio-center">
                    <input type="radio" name="ps" value="-1">Yes<br>
                    <input type="radio" name="ps" value="1" checked>No<br>
                </div>
            </div>
            <div class="item item--5">
                <p>How many dots in the domain?</p>
                <div class="radio-center">
                    <input type="radio" name="sd" value="1">&lt 3<br>
                    <input type="radio" name="sd" value="0">3<br>
                    <input type="radio" name="sd" value="-1" checked>&gt 3<br>
                </div>
            </div>
            <div class="item item--6">
                <p>Does The URL have Https token?</p>
                <div class="radio-center">
                    <input type="radio" name="ht" value="1">Yes<br>
                    <input type="radio" name="ht" value="-1" checked>No<br>
                </div>
            </div>
            <div class="item item--7">
                <p>What percentage request from another Domain?</p>
                <div class="radio-center">
                    <input type="radio" name="ru" value="1">&lt 22%<br>
                    <input type="radio" name="ru" value="-1" checked>&gt 22%<br>
                </div>
            </div>
            <div class="item item--8">
                <p>What percentage of Anchor URL in the website point to different domain?</p>
                <div class="radio">
                    <input type="radio" name="ua" value="1">&lt 31%<br>
                    <input type="radio" name="ua" value="0">&gt 31% and &lt 67%<br>
                    <input type="radio" name="ua" value="-1" checked>&gt 67%<br>
                </div>
            </div>
            <div class="item item--9">
                <p>Server Form Handler</p>
                <div class="radio">
                    <input type="radio" name="sfh" value="1">Form Handler of same Domain<br>
                    <input type="radio" name="sfh" value="0">Form Handler redirect to a different Domain<br>
                    <input type="radio" name="sfh" value="-1" checked>Form Handler is empty or blank<br>
                </div>
            </div>
            <div class="item item--10">
                <p>Abnormal URL</p>
                <div class="radio">
                    <input type="radio" name="ab" value="-1">There is no hostname record in WHOIS database<br>
                    <input type="radio" name="ab" value="1" checked>There is a hostname record is WHOIS database<br>
                </div>
            </div>
            <div class="item item--11">
                <p>How many times the website redirect?</p>
                <div class="radio-center">
                    <input type="radio" name="re" value="0">&gt 2<br>
                    <input type="radio" name="re" value="1" checked>&lt 2<br>
                </div>
            </div>
            <div class="item item--12">
                <p>On URL MouseOver</p>
                <div class="radio">
                    <input type="radio" name="mo" value="-1">The URL Changes<br>
                    <input type="radio" name="mo" value="1" checked>The URL Doesn't Change<br>
                </div>
            </div>
            <div class="item item--13">
                <p>Does the Website use forms in Pop Up Window?</p>
                <div class="radio-center">
                    <input type="radio" name="po" value="-1">Yes<br>
                    <input type="radio" name="po" value="1" checked>No<br>
                </div>
            </div>
            <div class="item item--14">
                <p>Website Age of Domain</p>
                <div class="radio-center">
                    <input type="radio" name="ad" value="-1">&lt 6 Month<br>
                    <input type="radio" name="ad" value="1" checked>&gt 6 Month<br>
                </div>
            </div>
            <div class="item item--15">
                <p>Any DNS record on the website?</p>
                <div class="radio-center">
                    <input type="radio" name="dns" value="-1">No<br>
                    <input type="radio" name="dns" value="1" checked>Yes<br>
                </div>
            </div>
            <div class="item item--16">
                <p>Website Traffic</p>
                <div class="radio">
                    <input type="radio" name="wt" value="-1">No traffic and website rank &gt 500.000<br>
                    <input type="radio" name="wt" value="0">Website Rank &gt 100.000 and &lt 500.000<br>
                    <input type="radio" name="wt" value="1" checked>Website Rank &lt 100.000<br>
                </div>
            </div>
        </div>
        <div class="detect">
            <input class="btn" type="submit" value="Detect">
        </div>
    </form>

    <div class="footer">
        <p>@2019 Website Phishing Detection | Design by Naufal Tjakra | GitLab @naufaltjakra | Email : naufaltjakra@gmail.com</p>
    </div>

</body>

</html>